.navbar
	background: url('../images/navbar.png');
	height: 80px;
	margin-bottom: 0px;
.carousel-inner > .item > img, .carousel-inner > .item > a > img 
    width: 1200px;
    height: 700px;
.carousel-indicators 
    list-style: none;
    margin-left: 120px
.carousel-caption 
    text-align: left;
    margin-bottom: 250px;
    margin-left: 50px;
button
    width: 150px;
    height: 50px;
    margin-right: 420px;
    border: none;
    border-radius: 30px;
    background-color: #FC7411;
    color: #FFF;
    font-size: 23px;
.logo
	position: absolute;
	width: 14%;
	margin: 10px 470px;
	left: 0;
	text-align: center;
	z-index: 90;
.row
	color: #FFF;
	padding-top: 15px;
	text-align: center;
.icon
	color: #FFF; 
.gambar-foot
	width: 100%;

